psycopg2-binary
bcrypt
streamlit
datetime
pandas
matplotlib
io
streamlit_extras.chart_container
streamlit_extras.dataframe_explorer
PIL
altair
streamlit_ext
extra_streamlit_components
email_validator
re
dataclasses